#nav-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(135, 157, 185);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10);
    padding: 0;
    .align-self-start {
        align-self: flex-start;
    }
    .align-self-center {
        align-self: center;
    }
    .align-self-end {
        align-self: flex-end;
    }
    #search-result {
        font-size: 36px;
        font-weight: bold;
        color: white;
    }
    #tags {
        margin-left: 20px;
        color: white;
    }
    .nav-text{
        color: white;
        font-size: 16px;
    }
    #nav-userName{
        font-weight: bold;
    }
}