#MMP-hori-bar {
    position: sticky;
    top: -1px;
    left: 0px;
    text-align: center;
    width: 100%;
    z-index: 2;

    a {
        float: left;
        display: block;
        width: 33.33%;
        height: 35px;
        padding-top: 2px;
        text-decoration: none;
        background-color: #C7FFD8;
        color: #356864;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
    }

    a:hover {
        background-color: #92fcb2;
    }
}