$button-color: rgb(189, 189, 189);

.SearchButton {
    margin: auto;
    width: 55px;
    height: 54px;
    border: 1px solid #07887f;
    background-color: #07887f;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    :hover {
        cursor: pointer;
    }
    
}

.search-icon {
    width: 36px;
    height: 36px;
    margin: 0;
}
