.Cardbox {
    // position : fixed;
    // margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    .Card {
        margin: 30px 0;
    }
    .card-column {
        display: flex;
        justify-content: center;
    }
    #cardbox-left {
    flex: 1;
    // background-color: aqua;
    text-align: left;
    // border-bottom: 2px solid black;
    // border-right: 2px solid black;
    // border: 2px solid blue;
      }
    #cardbox-right{
        
        margin: 0px 30px;
        flex: 4;
      
        #cardbox-right-up {
            border-bottom: 2px dotted gray;
            flex: 1;
            
            text-align: right;
            }

        #cardbox-right-down {
        flex: 1;
        
        text-align: right;
        }
    }
}