.TagSearchBar {
	width: 700px;
	box-sizing: border-box;
	display: flex;
	margin: 0 auto;
	.Toggle {
		margin-right: 40px;
	}
	
	
	.inputField {
		background-color: white;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		min-height: 48px;
		width: 480px;
		padding: 0 8px;
		border: 1px solid rgb(214, 216, 218);
		border-radius: 6px;
		&:focus-within {
			border: 1px solid #0052cc;
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1)
		}
		.input {
			flex: 1;
			border: none;
			box-shadow: none;
			height: 46px;
			font-size: 14px;
			padding: 4px 0 0 0;
		}
	}
}


@media screen and (max-width: 567px) {
	.inputField {
		width: calc(100vw - 32px);
	}
}