#hori_bar {
    position: fixed;
    top: 234px;
    left: -40px;
    width: 100%;
    margin: 0 auto;
}

#hori_bar li {
    display: block;
    width: 12.5%;
    float: left;
}

#hori_bar a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding: 3px;
    background-color: #C7FFD8;
    color: #356864;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

#hori_bar a:hover {
    background-color: #92fcb2;
}