#progressdocument {
    padding: 20px 70px 20px 70px;
    position: relative;
    background-color: white;

    a {
        margin-right: 30px;
    }

    h2 {
        padding-top: 30px;
        font-size: 30px;
        font-weight: bold;
    }

}

#infodocument h3 {
    padding-top: 10px;
    font-size: 24px;
}

#MMP-percentage-bar {
    height: 30px;
    font-size: 20px;
}

#MMP-achievements-list {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    .list-group-item {
        padding: 10px 0 10px 0;
        border: none;
        font-size: 18px;

        .badge {
            background-color: #535353;
            padding: 10px 10px 10px 10px;
            margin-right: 5px;
            font-size: 20px;
            cursor: pointer;
        }

        .MMP-success {
            background-color: blue;
        }

    }

}

#MPP-achievements-modify {
    width: 250px;
    padding-top: 3px;
    padding-bottom: 3px;
    float: right;
    background-color: #5C996B;
    border: none;
    font-size: 20px;
}

#MPP-achievements-modify:hover {
    background-color: #4c8059;
}

#MMP-reviews-write {
    width: 250px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 30px;
    float: right;
    background-color: #5C996B;
    border: none;
    font-size: 20px;
}

#MMP-reviews-write:hover {
    background-color: #4c8059;
}

#MMP-reviews-remove {
    width: 250px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 30px;
    margin-left: 20px;
    float: right;
    background-color: rgb(218, 54, 54);
    border: none;
    font-size: 20px;
}

#MMP-reviews-remove:hover {
    background-color: rgb(177, 30, 30);
}

#MMP-reviews-formlabel {
    font-size: 20px;
    font-weight: 600;
}
