$include-color: #77be9b;
$include-hover-color: #3aa770;
$exclude-color: #de9898;
$exclude-hover-color: #db7070;

.Applied-Include, .Applied-Exclude {
	box-shadow: 1px 1px 1px grey;
    width: auto;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 0 15px;
	font-size: 16px;
    font-weight: bold;
	list-style: none;
	border-radius: 6px;
	.tagName {
        margin-left: 3px;
		margin-top: 0px;
        margin-bottom: 3px;
	}
	.tag-icon {
		display: block;
		width: 20px;
		height: 20px;
	}
}

.Applied-Include {
    background-color: $include-color;
}

.Applied-Exclude {
    background-color: $exclude-color;
}
