$include-color: #77be9b;
$include-hover-color: #3aa770;
$exclude-color: #db8080;
$exclude-hover-color: #c23e3e;

.Include, .Exclude {
	box-shadow: 1px 1px 1px grey;
    width: auto;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 0 8px;
	font-size: 16px;
    font-weight: bold;
	list-style: none;
	border-radius: 6px;
	.tagName {
        margin-left: 3px;
		margin-top: 0px;
        margin-bottom: 3px;
	}
	.tag-icon {
		display: block;
		width: 20px;
		height: 20px;
	}
	.tag-close-icon {
		display: block;
		width: 16px;
		height: 16px;
		margin-left: 8px;
		border-radius: 50%;
	}
	.wrapper {
		margin-right: 4px;
		width: 16px;
		height: 16px;
		cursor: pointer;
	}
}

.Include {
    background-color: $include-color;
	.tag-close-icon {
		background-color: $include-hover-color;
	}

}

.Exclude {
    background-color: $exclude-color;
	.tag-close-icon {
		background-color: $exclude-hover-color;
	}
}
