.ActivityTags {
    display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 5px 0 0 0;
	.ActivityTag {
		margin: 8px 8px 0 0;
	}
}

#tagplus {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    width: auto;
	height: 30px;
	align-items: center;
	justify-content: center;
	background-color: rgb(39, 126, 83);
	color: white;
	margin-top: 8px;
	padding: 0 8px;
	font-size: 15px;
    font-weight: bold;
	border: none;
	border-radius: 6px;
}

#tagplus:hover {
	background-color: #52b483;
}

.table-right {
	padding-left: 15px;
}

.table-left {
	border-right: 2px dashed black;
}

#newtag-table-title {
	width: 50%;
	font-size: 24px;
}

#newtag-table-subtitle {
	width: 22%;
	font-size: 18px;
	font-weight: 600;
	padding-top: 10px;
}

#newtag-tag {
	margin-left: 0;
	background-color: rgb(39, 126, 83);
}

#newtag-add {
	background-color: rgb(39, 126, 83);
}
