.NameSearchBar {
	width: 480px;
	box-sizing: border-box;
	display: flex;
	height: 50px;
	margin: 0 auto;
	.inputField {
		min-height: 54px;
		padding: 0 8px;
		border: 1px solid #07887f;
		border-radius: 0px;
		&:focus-within {
			border: 1px solid #0052cc;
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1)
		}
	}
}


@media screen and (max-width: 567px) {
	.inputField {
		width: calc(100vw - 32px);
	}
}