$text-color: #07887f;

.TopBar {
  color: $text-color;
  font-size: 18px;
  float: right;
  display: block;

  .menu {
    margin-left: 40px;
    margin-right: 5px;
    color: $text-color;
    text-decoration: none;
  }
  .userName {
    margin-left: 40px;
    margin-right: 5px;
    color: $text-color;
    font-weight: bold;
  }
}
